---
import {Image} from 'astro:assets';
import imgdata from '../images/rok.jpg';
import FontAwesomeIcon from './icon.astro';
import { faLocationDot , faTag} from '@fortawesome/free-solid-svg-icons'
import { imageMetadata } from 'astro/assets/utils';

interface ImageModule{
    default:ImageMetadata;
}
interface BoothContent{
    title:string;
    place:string;
    describe:string;
    tags:string[];
}
interface Props {
    entry:BoothContent;
    image?:ImageModule;
}

const {entry , image}=Astro.props;

---
<div id="bc_container">
    <div id="bc_top">
        {image && (
            <Image id="bc_img" inferSize={true} src={image.default} alt={entry.title} loading="lazy" />
        )}
        <div id="bc_topRight">
            <div>
                <h1 id="bc_title">{entry.title}</h1>
                <h3 id="bc_club">ムズイ</h3>
            </div>
            <div id="bc_place"><FontAwesomeIcon icon={faLocationDot} params={{classes: ['fa-width-auto']}}/><span>{entry.place}</span></div>
        </div>
    </div>
    <div id="bc_bottom">
        <div id="bc_describe">{entry.describe}</div>
        <p id="bc_tag"><FontAwesomeIcon icon={faTag} params={{classes: ["fa-xl"]}}></FontAwesomeIcon>{entry.tags.join(",")}</p>
    </div>
</div>
<style>
#bc_container{
    width:auto;
    border-top: 5px solid navy;
    border-bottom: 5px solid navy;
    padding: 2rem;
    font-family: sans-serif;
    font-size:1em;
    *{
        font-weight: normal;
        margin:0;
        padding:0;
    }
}
#bc_top{
    aspect-ratio: 3.5 / 1;
    display:flex;
    font-size:1em;
    width:100%;
    margin-bottom: 1.2rem;
}
#bc_topRight{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    div{
        margin-left:1rem;
    }
}
#bc_title{
    color:#333333;
    font-size: 2em;
}
#bc_club{
    color:#5a5a5a;
    font-size: 1.2em;
}
#bc_place{
    color:black;
    font-size:1.4em;
    display:flex;
    align-items: baseline;
    gap:0.3em;
}
#bc_bottom{
    aspect-ratio: 3.5 / 1;
    background-color: navy;
    color:white;
    font-size:1em;
    width:95%;
    height:100%;
    padding:0.7rem;
    *{
        font-size:1.4em;
        font-weight:normal  ;
    }
}
#bc_describe{
    height:75%;
    white-space: pre-line;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}
#bc_tag{
    height:25%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#bc_img{
    width:auto;
    height:100%;
}
</style>