---
import {Image} from 'astro:assets';
import imgdata from '../images/rok.jpg';

interface Props {
    title:string;
    place:string;
    describe:string;
    tags:string[];
}

const {title,place,describe,tags}=Astro.props;

interface ImageModule {
  default: ImageMetadata;
}
---
<div id="bc_container">
    <div id="bc_top">
        <img id="bc_img" src={imgdata.src} />
        <div id="bc_topRight">
            <div>
                <h1 id="bc_title">{title}</h1>
                <h3 id="bc_club">ムズイ</h3>
            </div>
            <div><h4 id="bc_place">{place}</h4></div>
        </div>
    </div>
    <div id="bc_bottom">
        <div id="bc_describe">{describe}</div>
        <p id="bc_tag">{tags.join(", ")}</p>
    </div>
</div>
<style>
#bc_container{
    width:auto;
    border-top: 5px solid navy;
    border-bottom: 5px solid navy;
    padding: 2rem;
    font-family: sans-serif;
    font-size:1em;
    *{
        font-size:1em;
        font-weight: normal;
        margin:0;
        padding:0;
    }
}
#bc_top{
    aspect-ratio: 3.5 / 1;
    display:flex;
    gap:1rem;
    width:100%;
    margin-bottom: 1.2rem;
}
#bc_title{
    color:#333333;
    font-size: 2em;
}
#bc_club{
    color:#5a5a5a;
    font-size: 1.2em;
}
#bc_place{
    color:black;
    font-size:1.4em;
}
#bc_bottom{
    aspect-ratio: 3.5 / 1;
    background-color: navy;
    color:white;
    width:95%;
    height:100%;
    padding:0.7rem;
    *{
        font-size:1.4em;
        font-weight:normal  ;
    }
}
#bc_topRight{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
#bc_describe{
    height:75%;
    white-space: pre-line;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}
#bc_tag{
    height:25%;
    overflow: hidden;
    text-overflow: ellipsis;
}


#bc_img{
    border:1px solid black;
}
</style>